---
import * as styles from "./index.css";

export type Props = {
  src: string;
  alt: string;
  caption: string;
}

const { alt, caption, src } = Astro.props as Props;
---

<figure class={styles.figure}>
  <div class={styles.imageContainer}>
    <img class={styles.image} src={src} alt={alt} width="800" height="400" />
  </div>
  <figcaption class={styles.caption} set:html={caption} />
</figure>